*{padding:0; margin:0;}
.bg {
position: absolute;
z-index: -1;
top: 0;
left: 0;
right: 0;
bottom: 0;
opacity: 0.8;
}
ul, ol, li, dl {
list-style-type: none;
}
.box {
width: 100%;
display: -webkit-box;
display: -moz-box;
-webkit-box-orient: horizontal;
-moz-box-orient: horizontal;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}
.box > * {
-webkit-box-flex: 1;
-moz-box-flex: 1;
}
a:link, a:visited {
color: #575757;
text-decoration: none;
}
a {
text-decoration: none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0.35);
}
a:link, a:visited {
color: #575757;
text-decoration: none;
}
a {
text-decoration: none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0.35);
}

nav{
	width: 100%;
	position: fixed;
	bottom: 0;
}
.navBox {
	overflow: hidden;
	display: flex;
	flex-flow: row;
}

.navBox li {
	flex: 1;
	float: left;
	text-align: center;
	background: #e5e5e5;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	height: 40px;
	line-height: 40px;
}

.navBox li a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #000;

}
.navBox li a span{
	font-size: 16px !important;
	font-family:"宋体";
}
.audioPhoto{
	width: 30px;
	height: 30px;
	position: absolute;
	right: 20px;
	top: 20px;
	background: url("../images/normalmusic.svg") no-repeat;
	background-size: contain;
}
.audioplay {
	-webkit-animation: rotating 1.2s linear infinite;
	-moz-animation: rotating 1.2s linear infinite;
	-o-animation: rotating 1.2s linear infinite;
	animation: rotating 1.2s linear infinite;
}

@keyframes rotating {
	from{transform: rotate(0deg)}
	to{transform: rotate(360deg)}
}